@import 'variables.scss';
.banner-container {
  display: flex;
  overflow: hidden;
 
}
.banner {
  position: relative;
    background-color: black;
    height: calc(90vh - 3.2rem);
    display: flex;
    min-width: 100vw;
    transition: all .5s ease-in-out;
  
    &__content {
      display: grid;
      margin: auto;
      width: 80%;
      height: 86vh;
      grid-template-columns: 1fr 1fr;
      align-items: center;
  
      &--bg {
        margin: 0 auto;
        width: 100vw;
        height: 100%;
        background-size: cover;
        background-position: center;
      }
  
      &--image {
        margin: 0 auto;
        width: 60%;
        animation: ImageAnimation 2s 0s ease-in-out backwards;

        @include respond(tab-land) {
          width: 30%;
          margin: 1rem auto;
          padding-top: 3rem;
        }
      }
  
      &--desc {
        width: 85%;
        color: white
      }

      &--desc h4 {
        color: $pri;
        font-family: $f1;
        font-weight: ligher;
      }
      @include respond(tab-land) {
        display: flex;
        flex-direction: column;
        text-align: center;
      }

    }

    &__btn {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      color: white;
      border: none;
      width: 10rem;
      font-size: 3rem;
      outline: none;
      cursor: pointer;
      height: 100%;


      &:hover {
       background: linear-gradient(to top, rgba(255, 255, 255, 0.219) -48%, transparent 63%);
      }
    }
    &__dots {

      &--dot {
        height: 1.2rem;
        width: 1.2rem;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        bottom: 10%;
      }
    }

    @include respond(tab-land) {
      height: auto;
    }
  }

  .left, .right {
    @include respond(tab-land) {

      width: 8rem;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
