@import 'variables.scss';
.banner {
    background-color: black;
    height: 85.5vh;
  
    &__content {
      display: grid;
      margin: auto;
      width: 80%;
      height: 100%;
      grid-template-columns: 1fr 1fr;
      align-items: center;
  
      &--bg {
        margin: 0 auto;
        width: 100vw;
        height: 100%;
        background-size: cover;
        background-position: center;
      }
  
      &--image {
        margin: 0 auto;
        width: 60%;
        animation: ImageAnimation 2s 0s ease-in-out backwards;
      }
  
      &--desc {
        width: 85%;
        color: white
      }

      &--desc h4 {
        color: $pri;
        font-family: $f1;
        font-weight: ligher;
      }
    }
  }
