@import 'variables.scss';

input {
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    background-color: $light;
    margin-top: 1.5rem;
    font-family: $f1;
    font-size: 1.8rem;
    border: 2px solid transparent ;
    transition: all .2s ease-in-out;
    border: 2px solid transparent ;


    &:focus {
        border: 2px solid $pri ;
    }
}