@import 'variables.scss';
.about-rev {
    height: auto;
    margin: 10rem 0;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    &__img {
        width: 15rem;
        position: absolute;
        z-index: -99;

            &:last-of-type {
                right: 0;
                bottom: -5rem;


        @include respond(tab-port) {
            bottom: 2rem;
        }

                
            }
            &:first-of-type {
                left: 0;
                top: -5rem;

                @include respond(tab-port) {
                    top: 2rem;
                }
            }


        @include respond(tab-port) {
            width: 10rem;
        }
    }

    &__quote, h4 {
        text-align: center;
        width: 50rem;
        margin: 0 auto;

        @include respond(tab-port) {
            width: 100%;
            width: 30rem;
        }
    }

    &__quote {
        padding-bottom: 2rem;
    }

            & h4 {
                color: $pri;
                font-size: 2rem;
            }
}