@import './styles/variables.scss';

.container {
  max-width: 85vw;
  margin: 0 auto;
  position: relative;

  @include respond(tab-port) {
    max-width: 90vw;
  }

  @include respond(phone) {
    max-width: 95vw;
  }
}

.footer-section {
  background-color: $sec;
  color: white;
}

h1 {
  font-size: 4.5rem;

  @include respond(tab-land) {
    font-size: 3.5rem;
  }
}
