.button {
    padding: 1rem 4rem;
    margin: 2rem 0;
    background-color: #0095E0;
    outline: none;
    border: none;
    border-radius: 5rem;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    position: relative;
    display: flex;
}