@import 'variables.scss';

.button {
    padding: 1rem 4rem;
    margin: 2rem 0;
    background-color: $pri;
    outline: none;
    border: none;
    border-radius: 5rem;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
        background-color: lighten(#0095E0, 10);
        transition: all .2s ease-in-out;
    }
}

.btn-center {
    display: inline-flex;
}