@import 'variables.scss';

.footer {

    &__content {
        
        &--container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 10rem;
            padding: 10rem 0;

            
        @include respond(tab-land) {
            grid-template-columns: 1fr;
            text-align: center;
        }
        }

        & h1 {
            margin: 5rem 0;
                                    
            @include respond(tab-land) {
                margin: 2rem;
            }
        }

        &--subscribe {

        }

        &--sub-box {
            background-color: white;
            color: $ter;
            padding: 2.5rem 2.5rem 1.5rem 2.5rem;
        }

        &--contact {
            display: flex;
            flex-direction: column;


        }

        &--contact-container {
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            & h4 a {
                color: $pri;
                font-family: $f1;
            }

        }

        &--agent {
            display: flex;
            align-items: center;
            padding: 1rem 0;

                                                
        @include respond(tab-land) {
            display: block;
        }

            & p {
                padding: 0 1rem;
            }
        }

        &--author {
            display: flex;
            align-items: center;
            padding: 1rem 0;

                                                
        @include respond(tab-land) {
            display: block;
        }

            & p {
                padding: 0 1rem;
            }
        }

        &--navigate {
            & ul {
                color: $pri;
                font-family: $f2;
                list-style: none;
                font-size: 3rem;
            }
        }

        &--item {
            padding: 2rem auto;
        }
    }

    &__bottom {
        background-color: $ter;
        padding: 1.5rem 0;
        text-align: center;
        font-weight: lighter;
        font-size: 1.3rem;
    }

   
}