@import 'variables.scss';

.testimonials {
    
    & h1 {
        color: $pri;

        @include respond(laptop) {
            text-align: center;
            font-size: 3.5rem;
        }
    }

    &__container {
        display: flex;

        & h4 {
            color: $pri;
        }
    }

    &__testimonial {
        padding: 5rem;
        text-align: center;

        & p {
            padding: 6rem;

            @include respond(tab-port) {
                padding: 0;
            }
        }
    }
}

.swiper-button-next, .swiper-button-prev {

    &::after {
        color: $pri;
        font-size: 2rem !important;    }

        @include respond(phone) {
            display: none !important;
        }
}

.swiper-pagination-bullet {
    width: 5rem !important;
    height: .5rem !important;
    border-radius: 0 !important;
    background-color: $pri !important;
}