@import 'variables.scss';

.testimonials {
    
    & h1 {
        color: $pri;

        @include respond(tab-land) {
            text-align: center;
            font-size: 3.5rem;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
        align-items: center;

        @include respond(tab-land) {
            display: flex;
            flex-direction: column;
        }

        & h4 {
            color: $pri;
        }
    }

    &__testimonial {
        padding: 10rem 5rem;
        text-align: center;




        @include respond(laptop) {
            padding: 3rem 3rem;
        }

        @include respond(tab-land) {
            padding: 3rem 1rem;
        }
    }
}