.card {
    height: 100%;
    width: 30rem;
    box-shadow: 0 .3rem 1.8rem rgba(0,0,0, .2);
    cursor: pointer;
    transition: all .2s ease-in-out;
    animation: ProductCardAnimation 1s ease-in-out backwards;


    &:hover {
        box-shadow: 0 .6rem 2rem rgba(0,0,0, .3);
        transform: translateY(-.5rem) scale(1.02);

    }

    &__image {
    width: 100%;
    height: 45rem;
    background-size: auto;;
    background-position: center;
    margin-bottom: 5px;
        
    }

    &__footer {
        padding: 2rem;
        text-align: center;

        &--top {
            display: flex;
            justify-content: space-between;
        }
    }
}