@import 'variables.scss';
.productpage {
    
}

.book {
    margin: 10rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__left {
        display: flex;
        
        
            &--img {
                width: 40rem;
                background-size: cover;
                background-position: center;
                margin: 0 auto;
            }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        padding: 3rem;

        &--title {

        }

        &--author {
            margin-bottom: 3rem;
        }

        &--synopsis {
            margin-bottom: 3rem;
            padding: 0 1rem;
        }

        &--info-container {
            border: 1px solid crimson;
            margin: 3rem 0;
            align-items: center;
            display: grid;
            grid-template-columns: 2fr 1fr;
            justify-content: space-between;
        }
        &--info  {
            border-right: 1px solid crimson;
            text-align: left;
            padding: 3rem;
        }
                &--info span {
                    color: $pri;
                    text-align: right;
                }

        &--price {
            color: crimson;
        }

        &--availability {
            margin: 3rem 0;
        }

        &--items-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 3rem 0;
        }

        &--item {
            color: $pri;
            display: flex;
            align-items: center;

            & img {
                padding-right: 1rem;
            }
        }
    }
}

.btn-center {
    display: inline-flex;
}