@import 'variables.scss';
.header {
    width: 100%;
    position: relative;


    &__main {
      background-color: white;
      display: flex;
      align-items: center;
      height: 11vh;
      justify-content: space-between;
      color: $sec;

      &--logo {
        
        @include respond(tab-land) {
          width: 12rem;
        }

      }

      &--social-container {
        display: flex;
        align-items: center;

        & p {

          @include respond(tab-land) {
            display: none;
          }
        }
      }

      &--social-items {
        padding: 0 1.5rem;
        color: $pri;
      }

      &--social-item {
        padding: 1.5rem;
        color: $pri;
        font-size: 2rem;
        transition: all .2s;

        &:hover {
          color: darken($pri, 15%);
        }

        @include respond(tab-land) {
          padding: 1rem;
        }
        
      }

      @include respond(phone) {
        padding: 0 3rem;
      }

    }

    &__nav {
      background-color: $light;
      display: flex;
      justify-content: center;
      text-align: center;
      height: 3.2rem;

      &--item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 10rem;
        color: $ter;

        @include respond(phone) {
          width: 100%;
        }

        &:hover {
          color: white;
          background-color: $pri;
          font-weight: bold;
          transition: all .3s ease-in-out;
        }
      }
    }
  }

  .selected {
    background-color: #0095E0;
    color: white;
    font-weight: bold;
  }