@import 'variables.scss';
.header {
    width: 100%;
    position: relative;


    &__main {
      background-color: white;
      display: flex;
      align-items: center;
      height: 11vh;
      justify-content: space-between;
      color: $sec;

      &--social-container {
        display: flex;
        align-items: center;
      }

      &--social-items {
        padding: 0 1.5rem;
        color: $pri;
      }

      &--social-item {
        padding: 1.5rem;
        color: $pri;
        font-size: 2rem;
      }
    }

    &__nav {
      background-color: $light;
      display: flex;
      justify-content: center;

      &--item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 10rem;
        color: $ter;

        &:hover {
          color: white;
          background-color: $pri;
          font-weight: bold;
          transition: all .3s ease-in-out;
        }
      }
    }
  }

  .selected {
    background-color: #0095E0;
    color: white;
    font-weight: bold;
  }