// colours
$pri: #0095E0;
$sec: #2A425F;
$ter: #0D1D2B;
$light: #EAF0F0;

//fonts

$f1: 'Poppins', sans-serif;
$f2: 'Bebas Neue', cursive;

//mixins

// breakpoints

// animations

@keyframes ImageAnimation {
    0% {
        transform: scale(.9);
        opacity: .8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes ProductCardAnimation {
    0% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}
@keyframes Popup {
    0% {
        opacity: 0;
    }
    100% {

        opacity: 1;
    }
}