.homepage {
        overflow: hidden;
    &__hero {
        display: flex;
    }

    &__latest-releases {
        height: 71rem;
        display: flex;
        align-items: center;
        background-color: #EAF0F0;
    }

    &__testimonials {
        padding: 10rem 0;
    }
}