.header {
  height: 20vh;
  background-color: white;
  width: 100%;
}
.banner {

  background-color: black;
  width: 100vw;
  height: 80vh;
  display: block;

  &__content {
    position: relative;
    display: grid;
    margin: auto;
    width: 80%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    &--bg {
      margin: 0 auto;
      width: 80%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }

    &--image {
      margin: 0 auto;
    }

    &--desc {
      width: 85%;
    }
  }
}

p, h1, h3 {
  color: white;
}