@import 'variables.scss';
.about-me {
    background: linear-gradient(to top right, $sec 2%, $ter);

    &__content {
        display: flex;
        align-items: center;
        color: white;
    }
    &__img {
        transform: translateY(6.5rem);
    }
}