@import 'variables.scss';
.about-me {
    background: linear-gradient(to top right, $sec 2%, $ter);

    &__content {
        position: relative;
        display: flex;
        align-items: center;
        color: white;
        padding: 4rem 0;
    }

    &__desc {
        z-index: 99;

        & p {
            width: 70%;


        @include respond(tab-land) {
            width: 100%;
            text-align: center;
            font-size: 1.4rem;
        }
        }
    }

    &__img {
        transform: translateY(4.1rem);
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40rem;
        z-index: 1;


        @include respond(laptop) {
            width: 35rem;
            transform: translateY(3.6rem);
        }

        @include respond(tab-land) {
            display: none;
        }
       
    }
}