.latest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    &__left-container h1, h2 {
        color: #0095E0;
        padding: 4rem 0;
    }


    &__review {
        width: 50%;
    }

    &__items-container {
        background-color: white;
        height: 50rem;
        display: flex;
        align-items: center;
        padding: 0 5rem;

        & img {
            height: 25rem;
            width: 17rem;
        }
    }
}